@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
#EMChatBotRoot * {
  font-family: "Mulish", sans-serif !important;
}
* #EMChatBotRoot * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body #EMChatBotRoot {
  z-index: 99999999;
  position: relative;
}
html {
  font-size: 16px !important;
}

#EmChatBotChatContainerId {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Webkit browsers */
#EmChatBotChatContainerId::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Optional, if you want to control the horizontal scrollbar */
}

#EmChatBotChatContainerId::-webkit-scrollbar-track {
  background: transparent;
}

#EmChatBotChatContainerId::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Hide scrollbar by default */
#EmChatBotChatContainerId::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar on hover */
#EmChatBotChatContainerId:hover::-webkit-scrollbar {
  display: block;
}
.mainForImageProperty {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
