@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body #EMChatBotRoot {
  z-index: 99999999;
}
.EMBOT-chat-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
}

/* Webkit browsers */
.EMBOT-chat-container::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Optional, if you want to control the horizontal scrollbar */
}

.EMBOT-chat-container::-webkit-scrollbar-track {
  background: transparent;
}

.EMBOT-chat-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

/* Hide scrollbar by default */
.EMBOT-chat-container::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar on hover */
.EMBOT-chat-container:hover::-webkit-scrollbar {
  display: block;
}
